flows.json
[{"id":"de4cec23.ab452","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"941f4e8e.79271","type":"ui_form","z":"de4cec23.ab452","name":"","label":"","group":"2e81546c.e63e2c","order":1,"width":0,"height":0,"options":[{"label":"ENTER NAME","value":"name","type":"text","required":true,"rows":null},{"label":"ENTER PHONE NUMBER","value":"phn","type":"number","required":true,"rows":null},{"label":"ENTER EMAIL-ID","value":"email","type":"email","required":true,"rows":null},{"label":"ENTER ADDRESS","value":"adr","type":"text","required":true,"rows":null},{"label":"ENTER PASSWROD","value":"pwd","type":"password","required":true,"rows":null},{"label":"ENTER DOB","value":"dob","type":"date","required":true,"rows":null},{"label":"SKILLS","value":"skills","type":"text","required":true,"rows":null},{"label":"Student/Working","value":"statuss","type":"text","required":true,"rows":null}],"formValue":{"name":"","phn":"","email":"","adr":"","pwd":"","dob":"","skills":"","statuss":""},"payload":"","submit":"Sign up","cancel":"Cancel","topic":"","x":70,"y":600,"wires":[["e618ddb7.abc5d"]]},{"id":"e618ddb7.abc5d","type":"function","z":"de4cec23.ab452","name":"set global variable","func":"global.set(\"email\",msg.payload.email)\nglobal.set(\"name\",msg.payload.name)\nglobal.set(\"phn\",msg.payload.phn)\nglobal.set(\"adr\",msg.payload.adr)\nglobal.set(\"pwd\",msg.payload.pwd)\nglobal.set(\"dob\",msg.payload.dob.replace(\"T\", \"\").slice(0,10))\nglobal.set(\"skills\",msg.payload.skills)\nglobal.set(\"statuss\",msg.payload.statuss)\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":560,"wires":[["294f3d4c.b5bea2"]]},{"id":"894d77d9.253498","type":"ui_form","z":"de4cec23.ab452","name":"","label":"","group":"5af1b504.ab7aac","order":4,"width":0,"height":0,"options":[{"label":"ENTER EMAIL/USERID","value":"email","type":"email","required":true,"rows":null},{"label":"ENTER PASSWORD","value":"pwd","type":"password","required":true,"rows":null}],"formValue":{"email":"","pwd":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":780,"wires":[["ec432523.2feaf8"]]},{"id":"6abd029e.5da73c","type":"dashDB out","z":"de4cec23.ab452","dashDB":"c49dad26.54aeb","service":"_ext_","table":"USER_DETAILS","name":"","x":950,"y":460,"wires":[]},{"id":"ec432523.2feaf8","type":"function","z":"de4cec23.ab452","name":"set global variable","func":"global.set(\"email\",msg.payload.email)\nglobal.set(\"pwd\",msg.payload.pwd)\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":780,"wires":[["bf7ae54b.d43618"]]},{"id":"bf7ae54b.d43618","type":"dashDB in","z":"de4cec23.ab452","dashDB":"c49dad26.54aeb","service":"_ext_","query":"select * from USER_DETAILS;","params":"","name":"","x":360,"y":840,"wires":[["274b2753.24d358"]]},{"id":"274b2753.24d358","type":"function","z":"de4cec23.ab452","name":"check for password and userid","func":"var i\nvar c=0\nvar email=global.get(\"email\")\nvar pwd=global.get(\"pwd\")\nfor(i=0;i<msg.payload.length;i++){\n    if(msg.payload[i].EMAIL==email){\n        if(msg.payload[i].PASSWORD==pwd){\n            msg.payload=\"LOGIN SUCCESSFUL \\n Please click on the link given below to use our bot service\"\n            global.set(\"link\",\"Please cick here\")\n        }\n        else{\n            msg.payload=\"WRONG PASSWORD\"\n            global.set(\"link\",\"\")\n        }\n    }\n    else{\n        c+=1\n    }\n}\nif(c==msg.payload.length){\n    msg.payload=\"WRONG USERID OR PASSWORD\"\n    global.set(\"link\",\"\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":780,"wires":[["7cc110cc.1d702","6ff9bd8f.f94fd4","6def51f8.2f239"]]},{"id":"6ff9bd8f.f94fd4","type":"ui_toast","z":"de4cec23.ab452","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":910,"y":740,"wires":[[]]},{"id":"7cc110cc.1d702","type":"template","z":"de4cec23.ab452","name":"link of bot","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<div>\n<a href=\"https://web-chat.global.assistant.watson.cloud.ibm.com/preview.html?region=eu-gb&integrationID=6eb0f2de-e1ff-44fc-a4fe-63d72bd8a9e8&serviceInstanceID=a3a1a986-74bb-408c-bfb1-214e9e5e7a82\"><span>{{global.link}}</span></a>\n</div>\n\n ","output":"str","x":780,"y":840,"wires":[["9685ff43.56006"]]},{"id":"9685ff43.56006","type":"ui_text","z":"de4cec23.ab452","group":"dcb83a15.edf438","order":4,"width":0,"height":0,"name":"","label":"link display","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":800,"wires":[]},{"id":"99db9999.8cb588","type":"ui_toast","z":"de4cec23.ab452","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":890,"y":620,"wires":[[]]},{"id":"f1758306.cf73e","type":"play audio","z":"de4cec23.ab452","name":"","voice":"4","x":890,"y":540,"wires":[]},{"id":"6def51f8.2f239","type":"play audio","z":"de4cec23.ab452","name":"","voice":"4","x":900,"y":700,"wires":[]},{"id":"294f3d4c.b5bea2","type":"dashDB in","z":"de4cec23.ab452","dashDB":"24073cc7.651534","service":"_ext_","query":"select EMAIL from USER_DETAILS;","params":"","name":"","x":380,"y":540,"wires":[["d6fb61ab.e5251"]]},{"id":"d6fb61ab.e5251","type":"function","z":"de4cec23.ab452","name":"Check for duplicate email id","func":"var i\nvar count=0\nvar email=global.get(\"email\")\nif(msg.payload.length===0 || msg.payload.length===undefined){\nif(msg.payload.EMAIL==email){\n    count++\n}}\nelse{\nfor(i=0;i<msg.payload.length;i++){\n    if(msg.payload[i].EMAIL==email){\n        count++\n    }\n}}\nif(count===0){\n  msg.payload=\"REGISTRATION IS SUCCESSFUL   Now you can login using USERID and password\"\n}\nelse{\n  msg.payload=\"Userid already exist. Try to login\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":600,"wires":[["58eb6f05.73be7"]]},{"id":"e9101d3c.fa4a8","type":"function","z":"de4cec23.ab452","name":"","func":" var name=global.get(\"name\")\nvar phn=global.get(\"phn\")\nvar adr=global.get(\"adr\")\nvar pwd=global.get(\"pwd\")\nvar email=global.get(\"email\")\nvar dob=global.get(\"dob\")\nvar skills=global.get(\"skills\")\nvar statuss=global.get(\"statuss\")\n msg.payload={\nNAME:name,\nPHONE:phn,\nADDRESS:adr,\nPASSWORD:pwd,\nEMAIL:email,\nDATE:new Date().toISOString().replace(\"Z\", \"\").slice(0,10),\nDOB:dob,\nSKILLA:skills,\nOCCUPATION:statuss\n    \n}\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":460,"wires":[["6abd029e.5da73c"]]},{"id":"58eb6f05.73be7","type":"switch","z":"de4cec23.ab452","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"REGISTRATION IS SUCCESSFUL   Now you can login using USERID and password","vt":"str"},{"t":"eq","v":"Userid already exist. Try to login","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":520,"wires":[["e9101d3c.fa4a8","f1758306.cf73e","99db9999.8cb588"],["f1758306.cf73e","99db9999.8cb588"]]},{"id":"90a408ce.d41198","type":"comment","z":"de4cec23.ab452","name":"Form for login","info":"","x":430,"y":680,"wires":[]},{"id":"70e345b2.66c55c","type":"comment","z":"de4cec23.ab452","name":"Registration form","info":"","x":440,"y":460,"wires":[]},{"id":"45bdca5e.79b884","type":"debug","z":"de4cec23.ab452","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":250,"y":680,"wires":[]},{"id":"8dc68b5c.2373c8","type":"ui_text","z":"de4cec23.ab452","group":"8f8fcbed.9478a8","order":3,"width":"6","height":"3","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":410,"y":240,"wires":[]},{"id":"919e8216.c2699","type":"function","z":"de4cec23.ab452","name":"","func":"msg.payload=\"IBMers believe in progress—that the application of intelligence, reason and science can improve business, society and the human condition\"\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":220,"wires":[["8dc68b5c.2373c8"]]},{"id":"d9a0ce25.f1f4e","type":"function","z":"de4cec23.ab452","name":"","func":"msg.payload=\"IBM Today **The world’s largest information technology company  ** The 8th largest corporation in the world  ** Year end 2001, IBM reported:– $85.9 billion in revenue  – $7.7 billion in net income – More than 310,000 employees worldwide   – More than 670,000 stockholders of record\"\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":143,"wires":[["7e48b2ab.43d4cc"]]},{"id":"7e48b2ab.43d4cc","type":"ui_text","z":"de4cec23.ab452","group":"8f8fcbed.9478a8","order":2,"width":"6","height":"5","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":163,"wires":[]},{"id":"c6856784.4bc4e8","type":"ui_button","z":"de4cec23.ab452","name":"","group":"8f8fcbed.9478a8","order":1,"width":0,"height":0,"passthru":false,"label":"About us","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":100,"y":60,"wires":[["d9a0ce25.f1f4e","919e8216.c2699"]]},{"id":"1ead5bca.e52f24","type":"ui_text","z":"de4cec23.ab452","group":"3f1a14d7.8c0b0c","order":3,"width":"6","height":"3","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","x":890,"y":240,"wires":[]},{"id":"c20520b3.98257","type":"function","z":"de4cec23.ab452","name":"","func":"msg.payload=\"IBMers believe in progress—that the application of intelligence, reason and science can improve business, society and the human condition\"\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":220,"wires":[["1ead5bca.e52f24"]]},{"id":"673c0d77.c0f4c4","type":"function","z":"de4cec23.ab452","name":"","func":"msg.payload=\"IBM Today **The world’s largest information technology company  ** The 8th largest corporation in the world  ** Year end 2001, IBM reported:– $85.9 billion in revenue  – $7.7 billion in net income – More than 310,000 employees worldwide   – More than 670,000 stockholders of record\"\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":143,"wires":[["62dc6390.675d2c"]]},{"id":"62dc6390.675d2c","type":"ui_text","z":"de4cec23.ab452","group":"3f1a14d7.8c0b0c","order":2,"width":"6","height":"5","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":163,"wires":[]},{"id":"6b5720de.03427","type":"ui_button","z":"de4cec23.ab452","name":"","group":"3f1a14d7.8c0b0c","order":1,"width":0,"height":0,"passthru":false,"label":"About us","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":580,"y":60,"wires":[["673c0d77.c0f4c4","c20520b3.98257"]]},{"id":"2e81546c.e63e2c","type":"ui_group","z":"","name":"Form","tab":"1b60dcb2.049ec3","order":1,"disp":true,"width":"6","collapse":false},{"id":"5af1b504.ab7aac","type":"ui_group","z":"","name":"Form","tab":"48a84c10.be0ed4","order":2,"disp":true,"width":"6","collapse":false},{"id":"c49dad26.54aeb","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"dcb83a15.edf438","type":"ui_group","z":"","name":"Output","tab":"48a84c10.be0ed4","order":1,"disp":true,"width":"6","collapse":false},{"id":"24073cc7.651534","type":"dashDB","z":"","hostname":"dashdb-txn-sbox-yp-dal09-08.services.dal.bluemix.net","db":"BLUDB","port":"50000","name":""},{"id":"8f8fcbed.9478a8","type":"ui_group","z":"","name":"Information","tab":"1b60dcb2.049ec3","order":2,"disp":true,"width":"6","collapse":false},{"id":"3f1a14d7.8c0b0c","type":"ui_group","z":"","name":"Information","tab":"48a84c10.be0ed4","order":3,"disp":true,"width":"6","collapse":false},{"id":"1b60dcb2.049ec3","type":"ui_tab","z":"","name":"Registration","icon":"dashboard","disabled":false,"hidden":false},{"id":"48a84c10.be0ed4","type":"ui_tab","z":"","name":"Login","icon":"dashboard","disabled":false,"hidden":false}]